<ion-view hide-nav-bar="true">
    <ion-content>
        <table class="sub-pages">
            <tbody>
                <tr>
                    <td class="sub-page">私募首页</td>
                    <td class="sub-page">优选私募</td>
                    <td class="sub-page">私募排行</td>
                </tr>
                <tr>
                    <td class="sub-page">私募产品</td>
                    <td class="sub-page">私募研究</td>
                    <td class="sub-page">私募学堂</td>
                </tr>
            </tbody>
        </table>


        <div class="fund-card padding">
            <div class="fund-name">{{fund.name}}</div>
            <div>
                <ul>
                    <li>
                        <span>成立时间：</span>
                        <span>2013/2/28</span>
                    </li>
                    <li>
                        <span>管理公司：</span>
                        <span>浙金理财</span>
                    </li>
                </ul>
                <ul>
                    <li>
                        <span>基金经理：</span>
                        <span>fund.staff.name</span>
                    </li>
                    <li>
                        <span>评级：</span>
                        <span>---</span>
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>
                        <span>单位净值:</span>
                        <span>1.6768</span>
                    </li>
                    <li>
                        <span>今年以来收益：</span>
                        <span>21.26%</span>
                    </li>
                </ul>
            </div>
        </div>
        <button class="button button-assertive">咨询预约</button>
    </ion-content>
</ion-view>
