<ion-view hide-nav-bar="true">
    <ion-content>
        <div>
            <div class="trust-header">
                <h2 class="trust-category">优选信托</h2>
            </div>
        </div>
        <ion-list type="card" class="trusts">
            <ion-item ng-repeat="fund in fundList" class="fund-card" ui-sref="detail({id: fund.id})">
                <div class="left">
                    <div class="fund-name">{{fund.name}}</div>
                    <div>
                        <span>投资起点:</span>
                        <span>{{fund.threshold | money}}</span>
                    </div>
                    <div>
                        <span>投资期限：</span>
                        <span>{{fund.dueTime}}月</span>
                    </div>
                    <div>
                        <span>推荐理由：</span>
                        <span>{{fund.reason}}</span>
                    </div>
                </div>
                <div class="right">
                    <div>
                        <div>预期收益率</div>
                        <div class="fund-score">{{fund.profitRate*100}}%</div>
                    </div>
                    <div>
                        <span class="fund-status" ng-class="{on:fund.status === 1}">{{fund.status | saleStatus}}</span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
