.slide-image {
    width: 100%;
}

.fund-name {
    font-size: 16px;
    font-weight: bold;
}

.fund-status {
    &.on {
        background: #E73822;
        text-align: center;
        width: 46px;
        line-height: 20px;
        font-size: 12px;
        color: #fff;
        font-weight: normal;
        position: relative;
        margin-left: 10px;
        padding: 5px;
    }
}

.fund-card {
    font-size: 12px;
    font-family: Helvetica, 微软雅黑;
    div {
        margin-bottom: 5px;
    }
    .fund-staff {
        span {
            margin-right: 20px;
        }
    }
    .fund-staff-score {
        color: #E73822;
        margin-left: -15px;
    }
    %fund-important {
        font-size: 20px;
        margin-top: 5px;
    }
    .fund-score {
        color: #E73822;
        @extend %fund-important;
    }
    .fund-minimal {
        @extend %fund-important;
    }
}

.fund-detail {
    border: 1px solid #f1f1f1;
    background-color: #F9F9F9;
    .detail-item {
        display: inline-block;
        padding: 15px;
        width: 50%;
        text-align: center;
        &:first-child {
            border-right: 1px solid #f1f1f1;
        }
        span {
            display: block;
        }
    }
}
.categories {
    padding: 0;
    margin: 10px;
}

.category {
    border: none;
    display: inline-block;
    .category-icon {
        width: 56px;
    }
    .category-name {
        display: block;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
    }
}
